.navbar {
    background-color: yellowgreen;
}

#app {
    position: relative;
    min-height: 100vh;
}

#wrapper {
    padding-bottom: 30px;
}

#page-image {
    max-width: 500px;
}

#listTitle {
	background-color: yellowgreen;
	font-weight: bold;
}

#listContent {
	background-color: white;
}

.bg-body-secondary {
	border-radius: 15px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;

    background-color: yellowgreen;
}

.table-striped>tbody>tr:nth-child(odd)>td {
   background-color: yellowgreen;
}

#appColumn:hover, #typeColumn:hover {
    background-color: lightgrey;
    cursor: pointer;
    user-select: none;
}
